<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li class="active">
          <a routerLinkActive="active" >
            <i class="material-icons">home</i>
            <span>Accueil</span>
          </a>
          <a routerLink="/form" routerLinkActive="active" >
            <i class="material-icons">insert_drive_file</i>
            <span>Formulaire</span>
          </a>
        </li>
        <li>
          <a routerLink="/list"  routerLinkActive="active">
            <i class="material-icons">format_list_bulleted</i>
            <span>Liste</span>
          </a>
          <a routerLink="/Back"  routerLinkActive="active">
            <i class="material-icons">cloud_upload</i>
            <span>Back</span>
          </a>
        </li>
<!--        <li>-->
<!--          <a href="install.html">-->
<!--            <i class="material-icons">build</i>-->
<!--            <span>Installation</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="folder-structure.html">-->
<!--            <i class="material-icons">folder</i>-->
<!--            <span>Folder Structure</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="config.html">-->
<!--            <i class="material-icons">perm_data_setting</i>-->
<!--            <span>Configuration</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="multi-lang.html">-->
<!--            <i class="material-icons">translate</i>-->
<!--            <span>Multi Language</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="start-up.html">-->
<!--            <i class="material-icons">select_all</i>-->
<!--            <span>Start Up </span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="dyna-script.html">-->
<!--            <i class="material-icons">find_in_page</i>-->
<!--            <span>Dynamic Script Load </span>-->
<!--          </a>-->
<!--        </li>-->

<!--        <li>-->
<!--          <a href="sidebar-menu.html">-->
<!--            <i class="material-icons">chrome_reader_mode</i>-->
<!--            <span>Sidebar Menu</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#" onClick="return false;" class="menu-toggle">-->
<!--            <i class="material-icons">web</i>-->
<!--            <span>Form</span>-->
<!--          </a>-->
<!--          <ul class="ml-menu">-->
<!--            <li>-->
<!--              <a href="form-elements.html">Form Elements</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="form-validation.html">Form Validation</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="form-wizard.html">Form Wizard</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="editors.html">Editors</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#" onClick="return false;" class="menu-toggle">-->
<!--            <i class="material-icons">border_all</i>-->
<!--            <span>Tables</span>-->
<!--          </a>-->
<!--          <ul class="ml-menu">-->
<!--            <li>-->
<!--              <a href="bootstrap-table.html">Bootstrap Table</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="material-table.html">Material Table</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="ngx-datatable.html">ngx-datatable</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#" onClick="return false;" class="menu-toggle">-->
<!--            <i class="material-icons">equalizer</i>-->
<!--            <span>Charts</span>-->
<!--          </a>-->
<!--          <ul class="ml-menu">-->
<!--            <li>-->
<!--              <a href="echart.html">Echart Chart</a>-->
<!--            </li>-->

<!--            <li>-->
<!--              <a href="apex.html">Apex Chart</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="chartjs.html">Chart js</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="gauge-chart.html">Gauge Chart</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="ngx-chart.html">ngx-chart</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="calendar.html">-->
<!--            <i class="material-icons">event</i>-->
<!--            <span>Calendar</span>-->
<!--          </a>-->
<!--        </li>-->

<!--        <li>-->
<!--          <a href="utilities.html">-->
<!--            <i class="material-icons">format_paint</i>-->
<!--            <span>Utilities</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="credits.html">-->
<!--            <i class="material-icons">thumb_up</i>-->
<!--            <span>Credits</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="changelog.html">-->
<!--            <i class="material-icons">watch_later</i>-->
<!--            <span>Changelog</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="support.html">-->
<!--            <i class="material-icons">local_phone</i>-->
<!--            <span>Support</span>-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->

</section>
