<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
         data-target="#navbar-collapse" aria-expanded="false"></a>
      <a href="javascript:void(0);" class="bars"></a>
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png"/> <span
        class="logo-name">Workflow</span></a>
    </div>
<!--    <div class="collapse navbar-collapse" id="navbar-collapse">-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li class="dropdown user_profile">-->
<!--          <p class="col-blue m-r-20">V 13.0.0</p>-->
<!--        </li>-->
<!--        <li class="dropdown user_profile m-r-20">-->
<!--          <form-->
<!--            action="https://themeforest.net/item/lorax-angular-7-admin-dashboard-template/23430042/comments"-->
<!--            method="get" target="_blank">-->
<!--            <button type="submit" class="btn bg-blue waves-effect">Support</button>-->
<!--          </form>-->
<!--        </li>-->
<!--        <li class="dropdown user_profile m-r-20">-->
<!--          <form action="https://themeforest.net/item/lorax-angular-7-admin-dashboard-template/23430042"-->
<!--                method="get" target="_blank">-->
<!--            <button type="submit" class="btn bg-orange waves-effect">Buy-->
<!--              Now-->
<!--            </button>-->
<!--          </form>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</nav>
